body {
    background: #1b252e;
  }
  
  .flex-container {
    display: flex;
    flex-direction: wrap;
    margin-top: 50px;
    margin-right: 100px;
  }
  
  .time {
    font-size: 20px;
    color: white;
  
  }
  
  .Event_type {
    Font-size: 16px;
    color: white;
    margin-left: 25px;
  
  }
  
  #Select_event_header{
    color: white;
    margin-left: 25px;
   
  
  }
  
  .Event_date {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  
  }
  
  #Select_event_date{
    padding-left: 100px;
    color: white;
  }
  
  .date{
    padding-top: 84px;
    Font-size: 16px;
    color: white;
  }
  
  .notif{
    padding-left: 100px;
    color: white;
  
  }
  
  .details{
    padding-left: 100px;
    color: white;
    font-size: 18px;
  }

  .next {
    border: 2px solid transparent;
    background: #337ab7;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin-top: 50px;
    margin-left: 900px;
}

.next:hover {
    background-color: #337ab7;
}

.submit{
  border: 2px solid transparent;
  background: #337ab7;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.25s;
  margin-top: 400px;
}
