body {
    background: #1b252e;
  }
  
  .flex-container {
    display: flex;
    text-align: center;
    flex-direction: wrap;
    margin-top: 50px;
    margin-right: 100px;
  }

  #cont2 {
    display: none;
   }

   #cont1 {
    display: flex;
   }

   #admin{
     color: black;
   }
  
  
  .time {
    font-size: 20px;
    color: white;
  
  }
  
  .Event_type {
    Font-size: 16px;
    color: white;
    margin-left: 25px;
  
  }
  
  #Select_event_header{
    color: white;
    margin-left: 25px;
   
  
  }
  
  .Event_date {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  
  }
  #Event_members{
    color:black;
  }
  
  #Select_event_date{
    padding-left: 100px;
    color: white;
  }
  
  .date{
    padding-top: 84px;
    Font-size: 16px;
    color: white;
  }
  
  .notif{
    padding-left: 100px;
    color: white;
  
  }
  
  .details{
    padding-left: 100px;
    color: white;
    font-size: 18px;
  }

  .next {
    border: 2px solid transparent;
    background: #337ab7;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 80px;
    margin-top: 50px;
    margin-left: 950px;
    text-align: center ;
}

.next:hover {
    background-color: #337ab7;
}

.submit{
  border: 2px solid transparent;
  background: #337ab7;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.25s;
  margin-top: 400px;
}

#Date_time{
  color: black;
}

#Locations {
	background: #337ab7;
  margin: 0px 0px 0px 35px;
}

#Locations {
	color: white;
  margin: 3px;
}

#Locations:hover{
    cursor: pointer;
}

#Locations:hover {
	color: #fbff00;
	text-decoration: none;
	font-weight: bold;
}

#Event_members {
	background: #337ab7;
  margin: 0px 0px 0px 35px;
}

#Event_members {
	color: white;
  margin: 3px;
}

#Event_members:hover{
    cursor: pointer;
}

#Event_members:hover {
	color: #fbff00;
	text-decoration: none;
	font-weight: bold;
}
#test{
  background: white;
}