h2 {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
  }

  body {
    background: #1b252e;
  }


  .Profile_pic{
      height: 150px;
      width: 150px;
  }

  .image {
      
      margin-left:520px;
      height: 150px;
      width:150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

.uploadimg{
    color: white;
    margin-left: 330px;
    margin-top:50px;
    
}

#lab1{
    font-size: ;
}
.contyboi{
    display: flex;
    flex-direction: row;
}

#submit{
    color: #ffffff;
    border: 2px solid transparent;
    background: #337ab7;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    width: 90px;
}
#submit:hover {
    background-color: #337ab7;
}



  .user_name{
    margin-left:520px;
    color: white;
  }
  
  .ContainerX{
      display: flex;
      flex-direction: row;
      margin-left: 400px;
      align-content: center;

  }

  .ContainerY{
    margin-left: 300px;
  }
  
  #friends{
      text-decoration: underline;
      font-size: 22px;
      color: white;
  }

  #Events{
    text-decoration: underline;
    font-size: 22px;
    color: white;
}

#game_genre{
    text-decoration: underline;
    font-size: 22px;
    color: white;
}

#intro{
    color: white;
}

.bio{
    margin-left:1000px;
    color: black;
    
}

.status_image{
    display: flex;
    flex-direction: row;
}

#league{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 100px;
    align-content: center;
}
#dota{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#valorant{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 100px;
}
.status_date{
    display:flex;
    flex-direction: row;
}
.status{
    margin-left: 50px;
    color: white;
}

#date1{
    margin-left: 125px;
}

#date2{
    margin-left: 135px;
}

.lastseen{
    display: flex;
    flex-direction: row;
}

#event{
    margin-left: 100px;
}
#toggle{
    margin-top: 40px;
    margin-left:20px;
}

#toggle1{
    margin-top: 40px;
    margin-left:20px;
}

.Liked_image{
    display:flex;
    flex-direction: row;
    margin-top: 80px;
}

#liked_among{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left:550px;
}
#liked_csgo{
    height: 100px;
    width: 100px;
    border-radius: 30%;
    margin-left:50px;
}
#liked_dota{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left:50px;
}
#liked_lol{
    height: 100px;
    width: 100px;
    margin-left:50px;
 
}
#liked_mine{
    height: 100px;
    width: 100px;
    margin-left:30px;
    
}
#liked_valo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left:50px;
}

#like_title{
    margin-top: 50px;
    text-align: center;
}
#like_desc{
    margin-top: 10px;
    text-align: center;
}
#like_check{
    margin-top: 10px;
}


#check_among{
    margin-left:580px;
}
#check_csgo{
    margin-left:150px;
}
#check_dota{
    margin-left:130px;
}
#check_lol{
    margin-left:130px;
}
#check_mine{
    margin-left:115px;
}
#check_valo{
    margin-left:130px;
}

#link_to_profile{
    margin-top: 100px;
    text-align: center;
    border: 2px solid transparent;
    background: #337ab7;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    width: 250px;
    border-radius: 3px;
    transition: 0.25s;
    margin-left: 840px;
   
}

#link_to_profile:hover {
    text-decoration: underline;
    color: #1b252e;
}

#like_games{
    display: none;
}